.main__info-for-users {
    height: max-content;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
}

.info-for-users__dropdown-container {
    width: 225px;
    display: flex;
    justify-content: space-between;
}

.text-for-dropdown {
    padding-top: 3px;
}

.dropdown {
    position: relative;
}

.dropdown__button {
    position: relative;
    display: block;
    width: 165px;
    height: 25px;
    text-align: left;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(233, 231, 231);
    cursor: pointer;
    font-weight: 500;
    color: rgb(100, 100, 100);
    border: 1px solid grey;
    background-color: transparent;
    background-color: #fff;
    z-index: 60;
}

.dropdown__button::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 8px 5px 0 5px;
    border-color: rgb(100, 100, 100) transparent transparent transparent;
    border-style: solid;
    position: absolute;
    right: 6px;
    top: 8px;
    pointer-events: none;
}

.dropdown__button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2.5px lightgray;
}

.dropdown__button:hover {
    background-color: rgb(233, 231, 231);
    transition: 0.2s;
}

.dropdown__list {
    position: absolute;
    margin: -3px 0 0 0px;
    font-weight: 500;
    width: 165px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgb(100, 100, 100);
    font-size: 16px;
    list-style-type: none;
    height: 0px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
    z-index: 50;
    opacity: 0;
}

.dropdown__list-item {
    border: 1px solid lightgray;
    margin: 0px;
    padding: 5px 0 0 5px;
    border-bottom: 0px;
    height: 25px;
    cursor: pointer;
}

.dropdown__list.drop {
    height: max-content;
    width: 165px;
    opacity: 1;
    transition: 0.5s;
}

.active-sort {
    background-color: lightgray;
}

.dropdown__list-item:nth-child(7) {
    height: 28px;
}

.dropdown__list-item:hover {
    background-color: lightgray;
}

.found {
    margin-left: -12%;
    font-family: "Roboto";
}
